{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 id="user_{{ userId }}">{{ 'security_page.user'|trans }}</h1>
        {{ user.firstname }}
        {% for role in roles %}
            <span class="badge badge-secondary">{{ role|lower }}</span>
        {% endfor %}
    </div>
{% endblock %}