{% extends 'base.html.twig' %}

{% block title %}{{ someVariable }}{% endblock %}

{% block main %}
    {% if app.user %}
        <div class="mb-3">
            {% trans %}You are logged in as{% endtrans %} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
        </div>
    {% endif %}
    <div>
    <h1>{% trans %}Recipes{% endtrans %}</h1>
    <p class="lead">{% trans %}Text about a recipe.{% endtrans %}</p>
    </div>

{% endblock %}
