{% extends 'base.html.twig' %}
{% import "/macros/macros.html.twig" as macros %}

{% block body %}
    <main class="container">
        <div id="meal-plan" class="meal-plan-app">
            <div>

                <div id="meal-plan-header" class="pad-small">
                    <h1>
                        <span id="meal-plan-title">My Meal Plan</span>
                    </h1>
                    <a id="grocery-list-toggle" class="ml-btn-default">
                        Grocery List
                        <i class="caret"></i>
                    </a>
                </div><!-- meal-plan-header -->

                <div id="meal-plan-content" class="clearfix">
                    <div id="grocery-list-container">
                        <div id="grocery-list">
                            <a class="add-item has-tooltip" title="" data-original-title="Add to your grocery list">
                                <i>
                                    <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1344 800v64q0 14-9 23t-23 9h-352v352q0 14-9 23t-23 9h-64q-14 0-23-9t-9-23v-352h-352q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h352v-352q0-14 9-23t23-9h64q14 0 23 9t9 23v352h352q14 0 23 9t9 23zm128 448v-832q0-66-47-113t-113-47h-832q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113zm128-832v832q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h832q119 0 203.5 84.5t84.5 203.5z"></path></svg>
                                </i>
                            </a>

                            <div id="success-message">
                                <i class="fa fa-check"></i>
                                <h2>All done here!</h2>
                            </div>

                            <div>
                                <h3> Ingredients </h3>
                                <ul>
                                    {% if summedRecipes is defined %}
                                        {% for summedRecipe in summedRecipes %}
                                            {{ macros.ingredient(
                                                summedRecipe.0.ingredient.title,
                                                summedRecipe.total ~ summedRecipe.0.measure.title
                                            )  }}
                                        {% endfor %}
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="meals" class="pad-small">
                        {% if selectedRecipes is defined %}
                            {% for recipe in selectedRecipes %}
                                {{ macros.card(
                                    recipe.imageUrl,
                                    recipe.title,
                                    recipe.id) }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}
