{% extends 'base.html.twig' %}
{% import "/macros/macros.html.twig" as macros %}

{% block title %}Hello RecipeGeneratorController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container">
        <div class="row">
            <h1>Edit group</h1>
        </div>

    </div>
    <div class="example-wrapper">

        <div>
            <h3> Produce </h3>
            <ul>


                {% if selectedRecipes is defined %}
                    {% for selectedRecipe in selectedRecipes %}
                        {{ macros.card(
                            selectedRecipe.imageUrl,
                            selectedRecipe.title) }}
                    {% endfor %}
                {% endif %}
                {%  if recipeCount!= 0 %}
                {% for i in 1..recipeCount %}
                    {{ macros.card(
                        'https://cdn.apartmenttherapy.info/image/upload/f_auto,q_auto:eco,c_fit,w_760,h_950/k%2FPhoto%2FRecipes%2F2019-08-how-to-juiciest-turkey-meatballs%2FHow-to-Make-the-Best-Juiciest-Turkey-Meatballs_055',
                        'Nebeturime receptu') }}
                {% endfor %}
                {% endif %}

                {% if summedRecipes is defined %}
                    {% for summedRecipe in summedRecipes %}
                        {{ macros.ingredient(
                            summedRecipe.0.ingredient.title,
                            summedRecipe.total ~ summedRecipe.0.measure.title
                        )  }}
                    {% endfor %}
                {% endif %}

            </ul>
        </div>
        This friendly message is coming from:
        <ul>

        </ul>
    </div>
{% endblock %}
