{% extends 'base.html.twig' %}

{% block body %}
    <script>
        function printDiv(divName){
            var printContents = document.getElementById(divName).outerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
    <main class="container">
        <div id="meal-plan" class="meal-plan-app">
            <div>
                <div id="meal-plan-header" class="pad-small">
                    <h1>
                        <span id="meal-plan-title">My Meal Plan</span>
                    </h1>
                    {% if app.user %}
                    {{ form_start(saveForm) }}
                    <input type="submit" name="commit" value="Save"
                           class="ml-btn-success btn-lg disable-on-click">
                    {% if recipesWereSaved == true %}
                        <a href="{{ path('saved_recipe') }}">{{ 'generated_recipe.saved'|trans }}</a>
                    {% endif %}
                    {{ form_end(saveForm) }}
                    {% endif %}
                </div><!-- meal-plan-header -->
                <div id="meal-plan-content" class="clearfix">
                    <div id="list">
                        {% include "/ingredient_list/index.html.twig" with {'ingredientList': summedRecipes}%}
                    </div>
                    <div id="meals" class="pad-small">
                        {% if selectedRecipes is defined %}
                            {% for recipe in selectedRecipes %}
                                <div class="recipe-thumb">
                                    {% include "/card/index.html.twig" with {'imageUrl': recipe.imageUrl, 'name': recipe.title, 'id':recipe.id} %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
     </main>
{% endblock %}

{% block javascripts %}
    <script>
        function callAjax(id) {
            $.ajax({
                url: "/ajax/".concat(id),
                success: function (result) {
                    const divID = "#ajax-results".concat(id);
                    $(divID).html(result);
                    callAjaxList();
                }
            });
        }
        function callAjaxList() {
            $.ajax({
                url: "/ajax/list",
                success: function (result) {
                    $(list).html(result);
                }
            });
        }
    </script>
{% endblock %}

