
    <div class="recipe-thumb">
        <div class="content">
            <a href="{{ path('single_recipe', {id: recipe.id}) }}">
                <img class="image" src="{{ uploaded_asset(imageUrl)}}">
            </a>
            <div class="details">
                <h2 class="title">
                    <a href="{{ path('single_recipe', {id: id}) }}">{{ name }} </a>
                </h2>

                <div class="details">
                    <div class="action-bar-right"></div>
                </div>
            </div>
        </div>
    </div>