<html class="wf-chaparralpro-n4-active wf-chaparralpro-i4-active wf-chaparralpro-n7-active wf-chaparralpro-i7-active wf-freightsanspro-n4-active wf-freightsanspro-i4-active wf-freightsanspro-n7-active wf-freightsanspro-i7-active wf-opensans-n7-active wf-opensans-i7-active wf-opensans-i4-active wf-opensans-n4-active wf-active">
<head>
    <style type="text/css">
        @charset "UTF-8";
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }

        ng\:form {
            display: block;
        }

        .ng-animate-shim {
            visibility: hidden;
        }

        .ng-anchor {
            position: absolute;
        }</style>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>
        Mealime</title>

    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="pk_live_m4VIY9Wed7VnX69kkQBdYPQW" name="stripe-key">
    <link rel="stylesheet" media="screen"
          href="https://cdn-app.mealime.com/assets/application-eac297da2c586b374242c0685d5d2b6759fb14aaa8e902e71d97d1b0b048d03e.css">
    <meta content="Mealime" name="apple-mobile-web-app-title">
    <link href="https://cdn-app.mealime.com/assets/ios_home/touch-icon-iphone-precomposed-8a3b5525d6988c5f668877aded8465e825ebfa8d3e6bdae332e5fdf492582c15.png"
          rel="apple-touch-icon">
    <link href="https://cdn-app.mealime.com/assets/ios_home/touch-icon-ipad-precomposed-61a1300b57e9da9094e986d459e152bdb6b7563a1ae3bb89b522417a0b2d5e7e.png"
          rel="apple-touch-icon" sizes="76x76">
    <link href="https://cdn-app.mealime.com/assets/ios_home/touch-icon-iphone-retina-precomposed-8578faf8e9bfbda5436189d5c43107781a543c28cd55a697848bbef824f6656f.png"
          rel="apple-touch-icon" sizes="120x120">
    <link href="https://cdn-app.mealime.com/assets/ios_home/touch-icon-ipad-retina-precomposed-19e6f4dd9bb62f7c5f6703db96d68ac3d4b4adcaf615d618cc11800723d202ad.png"
          rel="apple-touch-icon" sizes="152x152">
    <script src="//use.typekit.net/yky3iyb.js" type="text/javascript">

    </script>
    <style type="text/css">
        .tk-chaparral-pro {
            font-family: "chaparral-pro", sans-serif;
        }

        .tk-freight-sans-pro {
            font-family: "freight-sans-pro", sans-serif;
        }

        .tk-open-sans {
            font-family: "open-sans", sans-serif;
        }</style>
    <style type="text/css">
        @font-face {
            font-family: chaparral-pro;
            src: url(https://use.typekit.net/af/9da37c/00000000000000003b9aee4e/27/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/9da37c/00000000000000003b9aee4e/27/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/9da37c/00000000000000003b9aee4e/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
            font-weight: 400;
            font-style: normal;
        }

        @font-face {
            font-family: chaparral-pro;
            src: url(https://use.typekit.net/af/6d0ba6/00000000000000003b9aee4d/27/l?subset_id=2&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/6d0ba6/00000000000000003b9aee4d/27/d?subset_id=2&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/6d0ba6/00000000000000003b9aee4d/27/a?subset_id=2&fvd=i4&v=3) format("opentype");
            font-weight: 400;
            font-style: italic;
        }

        @font-face {
            font-family: chaparral-pro;
            src: url(https://use.typekit.net/af/20a4c3/00000000000000003b9aee52/27/l?subset_id=2&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/20a4c3/00000000000000003b9aee52/27/d?subset_id=2&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/20a4c3/00000000000000003b9aee52/27/a?subset_id=2&fvd=n7&v=3) format("opentype");
            font-weight: 700;
            font-style: normal;
        }

        @font-face {
            font-family: chaparral-pro;
            src: url(https://use.typekit.net/af/4bba43/00000000000000003b9aee51/27/l?subset_id=2&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/4bba43/00000000000000003b9aee51/27/d?subset_id=2&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/4bba43/00000000000000003b9aee51/27/a?subset_id=2&fvd=i7&v=3) format("opentype");
            font-weight: 700;
            font-style: italic;
        }

        @font-face {
            font-family: freight-sans-pro;
            src: url(https://use.typekit.net/af/442215/000000000000000000010b5a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/442215/000000000000000000010b5a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/442215/000000000000000000010b5a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
            font-weight: 400;
            font-style: normal;
        }

        @font-face {
            font-family: freight-sans-pro;
            src: url(https://use.typekit.net/af/3df5fe/000000000000000000010b5b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/3df5fe/000000000000000000010b5b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/3df5fe/000000000000000000010b5b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("opentype");
            font-weight: 400;
            font-style: italic;
        }

        @font-face {
            font-family: freight-sans-pro;
            src: url(https://use.typekit.net/af/1709eb/000000000000000000010b60/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/1709eb/000000000000000000010b60/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/1709eb/000000000000000000010b60/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
            font-weight: 700;
            font-style: normal;
        }

        @font-face {
            font-family: freight-sans-pro;
            src: url(https://use.typekit.net/af/65fc7d/000000000000000000010b61/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/65fc7d/000000000000000000010b61/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/65fc7d/000000000000000000010b61/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("opentype");
            font-weight: 700;
            font-style: italic;
        }

        @font-face {
            font-family: open-sans;
            src: url(https://use.typekit.net/af/2553b3/000000000000000000011c34/27/l?subset_id=2&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/2553b3/000000000000000000011c34/27/d?subset_id=2&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/2553b3/000000000000000000011c34/27/a?subset_id=2&fvd=n7&v=3) format("opentype");
            font-weight: 700;
            font-style: normal;
        }

        @font-face {
            font-family: open-sans;
            src: url(https://use.typekit.net/af/8f2f8d/000000000000000000011c35/27/l?subset_id=2&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/8f2f8d/000000000000000000011c35/27/d?subset_id=2&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/8f2f8d/000000000000000000011c35/27/a?subset_id=2&fvd=i7&v=3) format("opentype");
            font-weight: 700;
            font-style: italic;
        }

        @font-face {
            font-family: open-sans;
            src: url(https://use.typekit.net/af/4c54ad/000000000000000000011c38/27/l?subset_id=2&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/4c54ad/000000000000000000011c38/27/d?subset_id=2&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/4c54ad/000000000000000000011c38/27/a?subset_id=2&fvd=i4&v=3) format("opentype");
            font-weight: 400;
            font-style: italic;
        }

        @font-face {
            font-family: open-sans;
            src: url(https://use.typekit.net/af/827015/000000000000000000011c3b/27/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/827015/000000000000000000011c3b/27/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/827015/000000000000000000011c3b/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
            font-weight: 400;
            font-style: normal;
        }</style>
    <script>
        try {
            Typekit.load();
        } catch (e) {
        }</script>
    <meta content="12" name="api-version">
    <meta name="csrf-param" content="authenticity_token">

    <meta name="csrf-token"
          content="pkdhIsG18Ynjc7jQwyGJCGezlpLvCu6F022vBGRnVZSoAOsE5C94sSxfjKjPUcJyr3FrxvUohSEZJzCO322KBA==">
    <base href="/">
    <style type="text/css">

    </style>
</head>
<body class="authentication">
<!--[if lt IE 9]>

<div class="browser-upgrade">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
</div>
<![endif]-->
<div id="authentication">
    <div id="auth-header">
        <div class="image">

        </div>
    </div>
    <div id="auth-well">
        <div id="auth-well-header">

        </div>
        <div id="auth-well-content">
            <div id="login">
                <h1>
                    Log in</h1>
                <form action="/sessions" accept-charset="UTF-8" method="post">
                    <input name="utf8" type="hidden" value="✓">
                    <input type="hidden" name="authenticity_token"
                           value="cldy9xNGxaZArxVUdzc2DnWPA3dElQ1ItnG8y9AHnvB8EPjRNtxMno+DISx7R310vU3+I163Zux8OyNBaw1BYA==">
                    <div class="form-group">
                        <label for="email">
                            Email</label>
                        <input type="email" name="email" id="email" autofocus="autofocus" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">
                            Password</label>
                        <input type="password" name="password" id="password" value="" class="form-control">
                    </div>
                    <div class="form-group hp-field">
                        <label for="hp2">
                            Hp2</label>
                        <input type="text" name="hp2" id="hp2" value="" class="form-control">
                    </div>
                    <div class="form-group remember-me clearfix">
                        <label class="control checkbox">
                            <input type="checkbox" name="remember_me" id="remember_me" value="1" checked="checked">
                            <span class="control-indicator">

                            </span>
                            Remember me</label>
                        <div class="forgot-password">
                            <a href="/password_resets/new">
                                I don't have my password</a>
                        </div>
                    </div>
                    <input type="submit" name="commit" value="Log in" class="ml-btn-success btn-lg disable-on-click">
                </form>
                <div class="forgot-password-mobile">
                    <a href="/password_resets/new">
                        I don't have my password</a>
                </div>
            </div>
        </div>
    </div>
    <div id="auth-footer">
        New to Mealime? <a href="/signup">
            Sign Up</a>
    </div>
</div>
<script src="https://browser.sentry-cdn.com/5.4.3/bundle.min.js">

</script>
<script src="https://browser.sentry-cdn.com/5.4.3/angular.min.js">

</script>
<script src="https://cdn-app.mealime.com/assets/application-a47075f49f50eacdc9c3c0e992152060bb51dbfbd5287beb6c3403cb43407c9f.js">

</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js">

</script>
</body>

</html>
