<html class="wf-chaparralpro-n4-active wf-chaparralpro-i4-active wf-chaparralpro-n7-active wf-chaparralpro-i7-active wf-freightsanspro-n4-active wf-freightsanspro-i4-active wf-freightsanspro-n7-active wf-freightsanspro-i7-active wf-opensans-n7-active wf-opensans-i7-active wf-opensans-i4-active wf-opensans-n4-active wf-active">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title> Mealime </title>



</head>

<body class="authentication">
<!--[if lt IE 9]>

<div class="browser-upgrade">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
</div>
<![endif]-->

<div id="authentication">
    <div id="auth-header">
        <div class="image">

        </div>
    </div>
    <div id="auth-well">
        <div id="auth-well-header">

        </div>
        <div id="auth-well-content">
            <div id="login">
                <h1>
                    Log in</h1>
                <form action="/sessions" accept-charset="UTF-8" method="post">
                    <input name="utf8" type="hidden" value="✓">
                    <input type="hidden" name="authenticity_token"
                           value="cldy9xNGxaZArxVUdzc2DnWPA3dElQ1ItnG8y9AHnvB8EPjRNtxMno+DISx7R310vU3+I163Zux8OyNBaw1BYA==">
                    <div class="form-group">
                        <label for="email">
                            Email</label>
                        <input type="email" name="email" id="email" autofocus="autofocus" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">
                            Password</label>
                        <input type="password" name="password" id="password" value="" class="form-control">
                    </div>
                    <div class="form-group hp-field">
                        <label for="hp2">
                            Hp2</label>
                        <input type="text" name="hp2" id="hp2" value="" class="form-control">
                    </div>
                    <div class="form-group remember-me clearfix">
                        <label class="control checkbox">
                            <input type="checkbox" name="remember_me" id="remember_me" value="1" checked="checked">
                            <span class="control-indicator">

                            </span>
                            Remember me</label>
                        <div class="forgot-password">
                            <a href="/password_resets/new">
                                I don't have my password</a>
                        </div>
                    </div>
                    <input type="submit" name="commit" value="Log in" class="ml-btn-success btn-lg disable-on-click">
                </form>
                <div class="forgot-password-mobile">
                    <a href="/password_resets/new">
                        I don't have my password</a>
                </div>
            </div>
        </div>
    </div>
    <div id="auth-footer">
        New to Mealime? <a href="/signup">
            Sign Up</a>
    </div>
</div>

</body>

</html>
