{% extends 'base.html.twig' %}

{% block body %}
    <h1>You don't have the permissions required to view this page</h1>

    <p>
        <a href="{{ path('home') }}">Return to the homepage</a>.
    </p>
{% endblock %}